<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="container-fluid" id="passport_forms_container">
                <h3 class="section-title">Add New Passport Type</h3>
                <form action="/admin/add_new_passport_type" method="post" id="add_new_passport_type_form" validate>
                    <div class="form-floating mt-1 mb-3">
                        <input type="text" class="form-control" id="passportNameInput" placeholder="<PASSPORT_TYPE>" name="name" required>
                        <label for="passportNameInput">Passport Type</label>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="submit" class="w-25 btn btn-md btn-primary mt-1" id="add_new_passport_type_button">Add</button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="container-fluid" id="passport_forms_container">
                <h3 class="section-title">Remove Passport Type</h3>
                <form action="/admin/remove_passport_type" method="post" id="remove_passport_type_form" validate>
                    <div class="mb-3">
                        <label class="form-label" for="passportTypeSelect">Passport Type</label>
                        <select class="form-select" id="passportTypeSelect" name="id">
                            {% for passport_type in passport_types %}
                                <option value="{{ passport_type.id }}">{{ passport_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="submit" class="w-25 btn btn-md btn-danger mt-1" id="remove_passport_type_button">Remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('add_new_passport_type_form').onsubmit = function() {
        var submitButton = document.getElementById('add_new_passport_type_button');
        if (submitButton) {
            submitButton.disabled = true;
            submitButton.textContent = 'Adding ...';
        }
    };
    document.getElementById('remove_passport_type_form').onsubmit = function() {
        var submitButton = document.getElementById('remove_passport_type_button');
        if (submitButton) {
            submitButton.disabled = true;
            submitButton.textContent = 'Removing ...';
        }
    };
</script>