<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-title">
                    <h3 class="section-title">Add New Item</h3>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="/admin/add_new_item" method="post" id="add_new_item_form" validate>
                            <div class="form-floating mt-1 mb-3">
                                <input type="text" class="form-control" id="nameInput" placeholder="<NAME>" name="name" required>
                                <label for="nameInput">Name</label>
                            </div>
                            <div class="form-floating mt-1 mb-3">
                                <input type="text" class="form-control" id="descriptionInput" placeholder="<DESCRIPTION>" name="description" required>
                                <label for="descriptionInput">Description</label>
                            </div>
                            <div class="form-floating mt-1 mb-3">
                                <input type="number" class="form-control" id="amountInput" placeholder="<AMOUNT>" name="amount" required>
                                <label for="amountInput">Amount &euro;</label>
                            </div>
                            <div class="form-control mt-1 mb-3">
                                <label class="form-label mt-2 mb-2" for="extraChargesSelect">Extra Charges?</label>
                                <select class="form-select" id="extraChargesSelect" name="extra_charges" required>
                                    <option value="true">True</option>
                                    <option value="false" selected>False</option>
                                </select>
                            </div>
                            <div class="form-control mt-1 mb-3">
                                {% if packages %}
                                    <label class="form-label mt-2 mb-2" for="packageSelect">Package</label>
                                    <select class="form-select" id="packageSelect" name="package_id" required>
                                        {% for package in packages %}
                                            <option value="{{ package.id }}">{{ package.name.title() }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                <label class="form-label mt-2 mb-2">--- Add package to choose! ---</label>
                                {% endif %}
                            </div>
                            {% if packages %}
                                <div class="d-flex justify-content-center align-items-center">
                                    <button type="submit" class="w-50 btn btn-sm btn-primary mt-1" id="add_new_item_button">Add</button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-title">
                    <h3 class="section-title">Edit Item</h3>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="/admin/edit_item" method="post" id="edit_item_form" validate>
                            <div class="form-control mt-1 mb-3">
                                {% if items %}
                                    <label class="form-label mt-2 mb-2" for="idSelect">Item</label>
                                    <select class="form-select" id="idSelect" name="id" required>
                                        {% for item in items %}
                                            <option value="{{ item.id }}">{{ item.name.title() }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                <label class="form-label mt-2 mb-2">--- Please add an item. ---</label>
                                {% endif %}
                            </div>
                            <div class="form-floating mt-1 mb-3">
                                <input type="text" class="form-control" id="nameInput" placeholder="<NAME>" name="name" optional>
                                <label for="nameInput">Name</label>
                            </div>
                            <div class="form-floating mt-1 mb-3">
                                <input type="text" class="form-control" id="descriptionInput" placeholder="<DESCRIPTION>" name="description" optional>
                                <label for="descriptionInput">Description</label>
                            </div>
                            <div class="form-floating mt-1 mb-3">
                                <input type="number" class="form-control" id="amountInput" placeholder="<AMOUNT>" name="amount" optional>
                                <label for="amountInput">Amount &euro;</label>
                            </div>
                            <div class="form-control mt-1 mb-3">
                                {% if packages %}
                                    <label class="form-label mt-2 mb-2" for="packageSelect">Package</label>
                                    <select class="form-select" id="packageSelect" name="package_id">
                                        {% for package in packages %}
                                            <option value="{{ package.id }}">{{ package.name.title() }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                <label class="form-label mt-2 mb-2">--- Add package to choose! ---</label>
                                {% endif %}
                            </div>
                            {% if items %}
                                <div class="d-flex justify-content-center align-items-center">
                                    <button type="submit" class="w-50 btn btn-sm btn-warning mt-1" id="edit_item_button">Edit</button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('add_new_item_form').onsubmit = function() {
        var submitButton = document.getElementById('add_new_item_button');
        if (submitButton) {
            submitButton.disabled = true;
            submitButton.textContent = 'Adding ...';
        }
    };
    document.getElementById('edit_item_form').onsubmit = function() {
        var submitButton = document.getElementById('edit_item_button');
        if (submitButton) {
            submitButton.disabled = true;
            submitButton.textContent = 'Editing ...';
        }
    };
</script>