{% extends '/admin/payments/base.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/style/admin_style.css">    
    <link rel="stylesheet" href="/static/style/style.css">
{% endblock style %}

{% block payments %}
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" style="text-align: center; font-size: large;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="container-fluid">
        <div class="card">
            <div class="card-title">
                <h3 class="section-title">Sell Package</h3>
            </div>
            <div class="card-body">
                <div>
                    <form action="/admin/sell_package" method="POST" id="sell_package_form">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-control mt-1 mb-3">
                                    {% if clients %}
                                        <label class="form-label" for="clientSelect">Client</label>
                                        <select class="form-select" id="clientSelect" name="user_id" required>
                                            {% for client in clients %}
                                                <option value="{{ client.id }}">{{ client.user.username.title() }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                    <label class="form-label mt-2 mb-2">--- There is no client ---</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-control mt-1 mb-3">
                                    {% if packages %}
                                            <label class="form-label" for="packageSelect">Package</label>
                                            <select class="form-select" id="packageSelect" name="package_id" required>
                                                {% for package in packages %}
                                                    <option value="{{ package.id }}">{{ package.name.title() }}</option>
                                                {% endfor %}
                                            </select>
                                    {% else %}
                                        <label class="form-label mt-2 mb-2">--- There is no packages ---</label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="w-25 btn btn-sm btn-primary mt-1" id="sell_package_button">Sell</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Client</th>
                            <th scope="col">Package</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for package in packages %}
                            {% if package.client %}
                                {% for client in package.client %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td><a class="no-color-link" href="/view_contract/{{ client.id }}">{{ client.user.username }}</a></td>
                                        <td>{{ package.name.title() }}</td>
                                        <td>
                                            <form action="/admin/remove_package_from_user" method="POST" id="remove_package_form">
                                                <input type="hidden" name="package_id" value="{{ package.id }}">
                                                <input type="hidden" name="user_id" value="{{ client.id }}">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <button type="submit" class="w-50 btn btn-sm btn-danger mt-1" id="remove_package_button">Remove</button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4">X X X</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('sell_package_form').onsubmit = function() {
            var submitButton = document.getElementById('sell_package_button');
            if (submitButton) {
                submitButton.disabled = true;
                submitButton.textContent = 'Loading ...';
            }
        };
        document.getElementById('remove_package_form').onsubmit = function() {
            var submitButton = document.getElementById('remove_package_button');
            if (submitButton) {
                submitButton.disabled = true;
                submitButton.textContent = 'Removing ...';
            }
        };
    </script>
</body>
{% endblock payments %}