{% extends '/master/settings.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/style/admin_style.css">    
    <link rel="stylesheet" href="/static/style/style.css">
{% endblock style %}

{% block settings %}

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="text-align: center; font-size: large;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h3 class="section-title">Change Password</h3>
                <hr>
                <div class="container">
                    <form action="/change_password" method="post" id="change_password_form" validate>
                        <div class="form-floating mt-4 mb-3">
                            <input type="password" class="form-control" id="oldPasswordInput" placeholder="<OLD PASSWORD>" name="old_password" required>
                            <label for="oldPasswordInput">Old Password</label>
                        </div>
                        <div class="form-floating mt-4 mb-3">
                            <input type="password" class="form-control" id="newPasswordInput" placeholder="<NEW PASSWORD>" name="new_password" required>
                            <label for="newPasswordInput">New Password</label>
                        </div>
                        <div class="form-floating mt-4 mb-3">
                            <input type="password" class="form-control" id="confirmPasswordInput" placeholder="<CONFIRM PASSWORD>" name="confirm_password" required>
                            <label for="confirmPasswordInput">Confirm Password</label>
                        </div>
                        
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="w-25 btn btn-sm btn-primary mt-1" id="change_password_button">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('change_password_form').onsubmit = function() {
            var submitButton = document.getElementById('change_password_button');
            if (submitButton) {
                submitButton.disabled = true;
                submitButton.textContent = 'Changing ...';
            }
        };
    </script>
</body>

{% endblock settings %}