<head>
    <link rel="stylesheet" href="/static/style/nav_footer_style.css">
</head>

<body id="footer">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12" style="padding: 0px 20px 0px 60px;">
                    <div class="container">
                        <a href="/" class="no-color-link">
                            <h3 class="component">Leveling Education Service</h3>
                        </a>
                        <a class="component" href="https://www.facebook.com/levelingeducationservice">
                            <i class="fa-brands fa-facebook fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text_components" style="padding: 0px 20px 0px 60px; float: right;">
                    <a class="no-color-link component" href="mailto:kontakt@leveling.pl">kontakt@leveling.pl</a> | +959 51 88 613
                    <br><br>
                    <p class="component">Address 1: ul. Zamknięta 10, 30-554 Kraków, Poland <br>Address 2: Tapinshwehtee Street, Thamine 1 Yard, Yangon, Myanmar</p>

                    <p class="component">Copyright &copy; {{ datetime.now().year }} by Leveling Education Service | SK Leveling</p>
                </div>
            </div>
        </div>
    </footer>
</body>