{% extends '/master/base.html' %}

{% block title %}
Home | Leveling Education Service
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="/static/style/style.css">
{% endblock style %}

{% block content %}
<body id="index">
    <section>
        <div class="container-fluid">
            <img id="cover_image" src="/static/images/cover.jpg" alt="cover-leveling" >
            <div class="card" id="headline">
                <div class="card-body">
                    <div class="flex-container">
                        <div class="item">
                            <h1 class="text-over-image">WELCOME</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="achievements">
        <div class="container-fluid">
            <div class="row">
                <h1>Our Achievements</h1>
                <p class="no-color-text">At Leveling Education Service, we are committed to providing<br>exceptional outcomes to help students achieve their educational goals. With our expertise,<br>we stand out from the competition.</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-0">
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3 class="text-end">15+</h3>
                    <p class="no-color-text text-end">students got visa approved in 2022</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3 class="text-start">25+</h3>
                    <p class="no-color-text text-start">students got visa approved in 2022</p>
                </div>
                <div class="col-md-3 col-sm-0">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-0">
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3 class="text-end">99.99%</h3>
                    <p class="no-color-text text-end">university application success rate</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3 class="text-start">90%</h3>
                    <p class="no-color-text text-start">visa success rate</p>
                </div>
                <div class="col-md-3 col-sm-0">
                </div>
            </div>
        </div>
    </section>

    <section>
        {% include '/master/services.html' %}
    </section>
</body>
{% endblock content %}